.header {
    background-color: #151f2e;

    .username {
        max-width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .avatar {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        margin-right: 10px;
    }
}
